<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<div class="courses" *ngIf="courses$ | async as courses; else loading">
  <ng-container
    *ngFor="
      let course of courses;
      index as i;
      first as isFirst;
      last as isLast;
      odd as isOdd;
      even as isEven
    "
  >
    <course-card
      [class.is-first]="isFirst"
      [class.is-last]="isLast"
      [class.is-odd]="isOdd"
      [class.is-even]="isEven"
      [cardIndex]="i + 1"
      [course]="course"
      (courseSelected)="onCourseSelected($event)"
    ></course-card>
  </ng-container>
</div>
<ng-template #loading>
  Loading
</ng-template>
